/* Styles the body (setting font style) */
body {
	font-family: Arial;	
}

/* Centers all elements with the class "centered" */
.centered {
	text-align: center;
}

/* Creates a flex container to make 3 columns */
.container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

/* Adjusts the left column */
.flex-left {
	flex-wrap: flex;
	flex-direction: column;
}

/* Adjusts the middle column */
.flex-middle {
	flex-direction: column;
	flex-wrap: wrap;
}

/* Adjusts the right column */
.flex-right {
	flex-direction: column;
	flex-wrap: wrap;
}

/* Adjusts the style of the points representing setosa irises */
.setosa {
	fill: indigo;
	opacity: 50%;
}

/* Adjusts the style of the points representing versicolor irises */
.versicolor {
	fill: chocolate;
	opacity: 50%;
}

/* Adjusts the style of the points representing virginica irises */
.virginica {
	fill: hotpink;
	opacity: 50%;
}

/* Adjusts the style of selected circles/bars */
.selected {
	opacity: 100%;
	stroke: orange;
	stroke-width: 3px;
}